<section class="container py-4">
  <h2 class="text-center">Settings</h2>

  <div class="row mt-4">
    <div class="col-12 col-md-6 px-5">
      <form id="newPasswordForm" action="/dashboard/settings/changepassword" method="POST" autocomplete="off">
        <div class="d-flex flex-column gap-2 form-container">
          <div>
            <label for="password" class="form-label">New passowrd</label>
            <input class="form-control" id="password" name="password" type="password" placeholder="password" required autocomplete="off" />
          </div>
          <div>
            <label for="repeatpassword" class="form-label">Repeat new password</label>
            <input class="form-control" id="repeatpassword" name="repeatpassword" type="password" placeholder="repeat password" required autocomplete="off" />
          </div>

          <button type="submit" class="custom-button-primary custom-button-primary--blue mt-2">
            Change Password
          </button>
        </div>
      </form>

    </div>
  </div>
  </div>
