<section class="container py-5">
  <div class="qrcode-show-container d-flex flex-column gap-4">
    <h2 class="text-center">Share your restaurant to outside world!</h2>
    <div class="text-center">
      <img src="<%=qrcode%>" id="qrcodeImage" />
    </div>
    <div class="text-center">
      <button class="custom-button-primary custom-button-primary--green custom-button-primary--lg" id="qrcode-download-btn">Download</button>
    </div>
  </div>
</section>
