$sidebar-primary: #2b2a28;
$light-primary: #dad9dd;
$light: #f7f6fb;
$green-primary: rgb(9, 126, 38);
$dark-primary: #152d32;
$red-primary: #e72923;
$blue-primary: #1c3bc4;
$claret-primary: #751616;
$claret-secondary: #7c2e2e;
