.menuworker-logo {
  transition: none;
  border-radius: 0;
  line-height: 2.5rem;
  font-family: "Tourney", cursive;
  font-size: 2rem;
  pointer-events: none;
  cursor: default;
  color: $claret-primary;
}
