$header-height: 3rem;
$nav-width: 68px;
$body-font: "Montserrat", sans-serif;
$normal-font-size: 1rem;
$z-fixed: 100;

// Breakpoint variables
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
