<section class="py-5">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h1>PDF Generation</h1>
      <p>
        Your PDF is being generated. You will recievie email with link to your
        generated PDF under following address: <%= locals.recipentEmailAddress
        %>
      </p>
      <a href="/dashboard/menus" class="btn btn-primary">Return to menus</a>
    </div>
  </div>
</section>
