<section class="py-5">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h1>PDF Generation</h1>
      <p>
        Your PDF is being generated. We will send you a message with your menu
        under following address: <%= locals.recipentEmailAddress %>
      </p>
      <a href="/dashboard/menus" class="custom-button-primary custom-button-primary--blue">Return to menus</a>
    </div>
  </div>
</section>
