<section id="navbar">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MenuWorker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-4 navbar-buttons">
          <li class="nav-item mx-2">
            <a class="btn login-button" href="/auth/login">Login</a>
          </li>
          <li class="nav-item mx-2">
            <a class="btn register-button" href="/auth/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section class="section-1 container mt-5">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat non iure quis
  cupiditate illum ad provident nostrum quam eos expedita atque totam dicta
  eligendi facilis laudantium quas, commodi ab accusamus? Lorem ipsum dolor sit
  amet consectetur adipisicing elit. Placeat non iure quis cupiditate illum ad
  provident nostrum quam eos expedita atque totam dicta eligendi facilis
  laudantium quas, commodi ab accusamus? Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Placeat non iure quis cupiditate illum ad provident nostrum
  quam eos expedita atque totam dicta eligendi facilis laudantium quas, commodi
  ab accusamus?
</section>
