<div class="container mt-5">
  <form action="/dashboard/restaurants/new" method="post">
    <div>
      <label for="name">Restaurant name</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div>
      <label for="address">Restaurant address</label>
      <input type="text" id="address" name="address" required />
    </div>
    <div>
      <label for="description">Restaurant description</label>
      <input type="text" id="description" name="description" required />
    </div>
    <div>
      <label for="phone">Restaurant phone</label>
      <input type="text" id="phone" name="phone" required />
    </div>
    <button type="submit">submit</button>
  </form>
</div>
