restaurant show
<div class="container mt-5">
  <div>Restaurant name: <%= restaurant.name %></div>
  <div>Restaurant address: <%= restaurant.address %></div>
  <div>Restaurant description: <%= restaurant.description %></div>
  <div>Restaurant phone: <%= restaurant.phone %></div>
</div>
