.login-page,
.register-page {
  form {
    width: 23rem;
  }
  .login-column,
  .register-column {
    background-color: $light;
  }
  .logo-container {
    margin: 3rem 0;
  }

  .login-head-text {
    letter-spacing: 1px;
  }
}
