<% if(messages.info) { %>
<div class="py-2 alert-box">
  <% messages.info.forEach(message => { %>
  <div class="alert alert-primary d-flex align-items-center gap-2" role="alert">
    <i class='bx bxs-info-circle'></i>
    <%= message %>
  </div>
  <% }); %>
</div>
<% } %>
<% if(messages.success) { %>
<div class="py-2 alert-box">
  <% messages.success.forEach(message => { %>
  <div class="alert alert-success d-flex align-items-center gap-2" role="alert">
    <i class='bx bxs-check-circle'></i>
    <%= message %>
  </div>
  <% }); %>
</div>
<% } %>
<% if(messages.warning) { %>
<div class="py-2 alert-box">
  <% messages.warning.forEach(message => { %>
  <div class="alert alert-warning d-flex align-items-center gap-2" role="alert">
    <i class='bx bxs-error'></i>
    <%= message %>
  </div>
  <% }); %>
</div>
<% } %>
<% if(messages.error) { %>
<div class="py-2 alert-box">
  <% messages.error.forEach(message => { %>
  <div class="alert alert-danger d-flex align-items-center gap-2" role="alert">
    <i class='bx bxs-error'></i>
    <%= message %>
  </div>
  <% }); %>
</div>
<% } %>
