<section class="vh-100 login-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black border login-column">
        <div class="px-5 ms-xl-4 logo-container text-center text-sm-start">
          <span class="h1 fw-normal mb-0 menuworker-logo">MenuWorker</span>
        </div>

        <div class="ps-sm-5 d-flex justify-content-center justify-content-sm-start ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-5">
          <form action="/auth/login" method="POST">
            <h4 class="mb-3 pb-3 login-head-text">Log in</h4>

            <div class="mb-2">
              <label class="form-label mb-0" for="email">Email</label>
              <input name="email" type="email" id="email" class="form-control" required autocomplete="off" />
            </div>

            <div class="mb-3">
              <label class="form-label mb-0" for="password">Password</label>
              <input name="password" type="password" id="password" class="form-control" required autocomplete="off" />
            </div>

            <div class="pt-1 mb-4">
              <button class="custom-button-primary w-100" type="submit">
                Login
              </button>
            </div>

            <p class="small mb-5 pb-lg-2">
              <a class="text-muted text-decoration-none" href="#!">Forgot password?</a>
            </p>
            <p>
              Don't have an account?
              <a href="/auth/register" class="link-info text-decoration-none">Register here</a>
            </p>
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://static.vecteezy.com/system/resources/previews/000/554/568/original/summer-junk-food-cheese-hamburger-vector.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left" />
      </div>
    </div>
  </div>
</section>
